<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bianca Burema</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body>
  <div class="header">
    <div class="container">
      <img src="/src/assets/1653904873747.jpg">
        <h1 class="display-3">Bianca Burema</h1>
        <p>Software Developer</p>
    </div>
  </div>
  <div class="container">
    <h2>Projecten</h2>
    <table>
      <tr>
        <td>Portfolio website</td>
      </tr>
      <tr>
        <td>UWV Elektronisch Archief</td>
      </tr>
      <tr>
        <td>CrittR</td>
      </tr>
    </table>
  </div>
  <div class="container">
    <h2>Educatie</h2>
    <table>
      <tr>
        <td>Make IT Work</td>
        <td>IT Academy, Hanze Hogeschool Groningen</td>
        <td>4 oktober 2021 t/m 1 april 2022</td>
        <td>Make IT work is een omscholingtraject voor hoger opgeleiden zonder technische achtergrond. Ik heb hier in 6
          maanden geleerd om te programmeren in Java.</td>
      </tr>
      <tr>
        <td>Kunst, Cultuur en Media</td>
        <td>Rijksuniversiteit Groningen</td>
        <td>2011 t/m 2015</td>
      </tr>
    </table>
  </div>
  <div class="container">
    <h2>Ervaring</h2>
    <table>
      <tr>
        <td>IBM Client Innovation Center</td>
        <td>1 april 2022 - nu</td>
        <td>Full Stack Application Developer. vanaf 1 mei begonnen bij UWV als developer aan een FileNet Applicatie.
        </td>
      </tr>
      <tr>
        <td>Stichting Noorderzon Groningen</td>
        <td>2015 t/m 2021</td>
        <td>Office Manager</td>
      </tr>
    </table>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
</body>

</html>